In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# Load the csv file
csv_file = 'data/US_milk.xlsx'
file_path = Path.cwd().parent/csv_file
file_path

WindowsPath('C:/Users/deepa/OneDrive - DSTI School of Engineering/Desktop/UDEMY_Projects/Butter-Price-Analysis-in-US/data/US_milk.xlsx')

In [4]:
df = pd.read_excel(file_path)
df

,year,month,product_desc,unit,product,country,state_name,measure,source,value
0,2020,January,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8562.0
1,2020,February,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8119.0
2,2020,March,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8798.0
3,2020,April,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8466.0
4,2020,May,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8609.0
...,...,...,...,...,...,...,...,...,...,...
131,2025,March,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,22.0
132,2025,April,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.0
133,2025,May,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.3
134,2025,June,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.3
135,2025,July,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,20.8

In [6]:
df['month'] = df['month'].str.lower()

0       january
1      february
2         march
3         april
4           may
         ...
131       march
132       april
133         may
134        june
135        july
Name: month, Length: 136, dtype: object

In [10]:
df['date'] = pd.to_datetime(df['year'].astype(str)+"-"+ df['month'], format ='%Y-%B')

,year,month,product_desc,unit,product,country,state_name,measure,source,value,date
0,2020,january,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8562.0,2020-01-01
1,2020,february,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8119.0,2020-02-01
2,2020,march,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8798.0,2020-03-01
3,2020,april,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8466.0,2020-04-01
4,2020,may,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8609.0,2020-05-01
...,...,...,...,...,...,...,...,...,...,...,...
131,2025,march,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,22.0,2025-03-01
132,2025,april,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.0,2025-04-01
133,2025,may,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.3,2025-05-01
134,2025,june,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.3,2025-06-01
135,2025,july,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,20.8,2025-07-01

In [11]:
month_mapping = {
    'january':1,
    'february':2,
    'march':3,
    'april':4,
    'may':5,
    'june':6,
    'july':7,
    'august':8,
    'september':9,
    'october':10,
    'november':11,
    'december':12
    
}

In [12]:
df['month_no'] = df['month'].map(month_mapping)

In [20]:
def convert_cwt_to_kg(x):
    if x is None or x == "" or pd.isna(x):
        return None
    coeffcient = 100/45.359237
    new_value = float(x)*coeffcient
    return new_value

In [22]:
# Filter out df containing only the wholesale price with USD/CWT
df_cwt = df[df['unit'] =='$/CWT'].copy()
df_cwt

,year,month,product_desc,unit,product,country,state_name,measure,source,value,date,month_no
69,2020,january,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,19.5,2020-01-01,1
70,2020,february,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,18.8,2020-02-01,2
71,2020,march,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,17.8,2020-03-01,3
72,2020,april,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,14.3,2020-04-01,4
73,2020,may,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,13.6,2020-05-01,5
...,...,...,...,...,...,...,...,...,...,...,...,...
131,2025,march,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,22.0,2025-03-01,3
132,2025,april,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.0,2025-04-01,4
133,2025,may,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.3,2025-05-01,5
134,2025,june,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,21.3,2025-06-01,6
135,2025,july,Farm gate milk price,$/CWT,Milk,US,US TOTAL,Wholesale Price,clal,20.8,2025-07-01,7

In [23]:
df_cwt['value']=df_cwt['value'].map(convert_cwt_to_kg)

In [28]:
df_cwt['unit'] = '$/100kg'
df_cwt

,year,month,product_desc,unit,product,country,state_name,measure,source,value,date,month_no
69,2020,january,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,42.990141,2020-01-01,1
70,2020,february,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,41.446905,2020-02-01,2
71,2020,march,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,39.242283,2020-03-01,3
72,2020,april,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,31.526103,2020-04-01,4
73,2020,may,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,29.982868,2020-05-01,5
...,...,...,...,...,...,...,...,...,...,...,...,...
131,2025,march,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,48.501698,2025-03-01,3
132,2025,april,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,46.297075,2025-04-01,4
133,2025,may,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,46.958462,2025-05-01,5
134,2025,june,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,46.958462,2025-06-01,6
135,2025,july,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,45.856151,2025-07-01,7

In [33]:
milk_df = pd.concat([df, df_cwt], ignore_index=True)
milk_df

,year,month,product_desc,unit,product,country,state_name,measure,source,value,date,month_no
0,2020,january,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8562.000000,2020-01-01,1
1,2020,february,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8119.000000,2020-02-01,2
2,2020,march,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8798.000000,2020-03-01,3
3,2020,april,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8466.000000,2020-04-01,4
4,2020,may,US Cow's Milk Productions,000 tonnes,Milk,US,US TOTAL,Production,clal,8609.000000,2020-05-01,5
...,...,...,...,...,...,...,...,...,...,...,...,...
198,2025,march,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,48.501698,2025-03-01,3
199,2025,april,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,46.297075,2025-04-01,4
200,2025,may,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,46.958462,2025-05-01,5
201,2025,june,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,46.958462,2025-06-01,6
202,2025,july,Farm gate milk price,$/100kg,Milk,US,US TOTAL,Wholesale Price,clal,45.856151,2025-07-01,7

In [34]:
milk_df.columns.to_list()

['year',
 'month',
 'product_desc',
 'unit',
 'product',
 'country',
 'state_name',
 'measure',
 'source',
 'value',
 'date',
 'month_no']

In [29]:
import pymysql

In [30]:
connection = pymysql.connect(host = 'localhost',
                            user = 'root',
                            password = 'root',
                            database = 'clal',
                            port = 3306)

In [31]:
cursor = connection.cursor()

In [35]:
insert_sql_command = '''
    INSERT INTO `clal`.`milk`
    (`year`, `month`, `product_desc`, `unit`, `product`, `country`, `state_name`, `measure`, `source`, `value`, `date`, `month_no`)
    VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE
        updated_at = IF(value<>VALUES(value), NOW(), updated_at),
        value = VALUES(value)
'''

In [36]:
for _, row in milk_df.iterrows():
    cursor.execute(insert_sql_command,
                  (row['year'],
                   row['month'],
                   row['product_desc'],
                   row['unit'],
                   row['product'],
                   row['country'],
                   row['state_name'],
                   row['measure'],
                   row['source'],
                   float(row['value']),
                   row['date'],
                   row['month_no']
                  ))
connection.commit()
connection.close()

In [37]:
if connection.close:
    print('Connection to the database is closed')
elif connection.open:
    print('Connection to the database is still open')

Connection to the database is closed