In [2]:
import pandas as pd
from pathlib import Path
import os

In [3]:
root = Path(Path.cwd().parent)
root

WindowsPath('C:/Users/deepa/OneDrive - DSTI School of Engineering/Desktop/UDEMY_Projects/Butter-Price-Analysis-in-US')

In [4]:
csv_file = "data/clal_butter_wholesale_price.csv"

In [5]:
# Creating the file path for the csv file
file_path = root /csv_file
file_path

WindowsPath('C:/Users/deepa/OneDrive - DSTI School of Engineering/Desktop/UDEMY_Projects/Butter-Price-Analysis-in-US/data/clal_butter_wholesale_price.csv')

In [6]:
# Loading the csv file with prices on Butter
df = pd.read_csv(file_path)
df.head(5)

   year     Month                Product_desc      Unit  Wholesale Price
0  2020   January  Butter Grade AA US Chicago  USD/tonne           4,193
1  2020  February  Butter Grade AA US Chicago  USD/tonne            3920
2  2020     March  Butter Grade AA US Chicago  USD/tonne           3,809
3  2020     April  Butter Grade AA US Chicago  USD/tonne           2,679
4  2020       May  Butter Grade AA US Chicago  USD/tonne           3,252

In [7]:
df.dtypes

year                int64
Month              object
Product_desc       object
Unit               object
Wholesale Price    object
dtype: object

In [8]:
# Creating the month number column
month_number_mapping = {
    "January":1,
    "February":2,
    "March":3,
    "April":4,
    "May":5,
    "June":6,
    "July":7,
    "August":8,
    "September":9,
    "October":10,
    "November":11,
    "December":12
    }

In [9]:
# Adding month_no column from month column
df['month_no'] = df['Month'].map(month_number_mapping)
df.tail(12)

,year,Month,Product_desc,Unit,Wholesale Price,month_no
59,2024,December,Butter Grade AA US Chicago,USD/tonne,"5,589",12
60,2025,January,Butter Grade AA US Chicago,USD/tonne,"5,576",1
61,2025,February,Butter Grade AA US Chicago,USD/tonne,"5,246",2
62,2025,March,Butter Grade AA US Chicago,USD/tonne,"5,129",3
63,2025,April,Butter Grade AA US Chicago,USD/tonne,"5,106",4
64,2025,May,Butter Grade AA US Chicago,USD/tonne,"5,246",5
65,2025,June,Butter Grade AA US Chicago,USD/tonne,"5,615",6
66,2025,July,Butter Grade AA US Chicago,USD/tonne,"5,607",7
67,2025,August,Butter Grade AA US Chicago,USD/tonne,"5,018",8
68,2025,September,Butter Grade AA US Chicago,USD/tonne,"4,052",9
69,2025,October,Butter Grade AA US Chicago,USD/tonne,"3,599",10
70,2025,November,Butter Grade AA US Chicago,USD/tonne,"3,362",11

In [10]:
# Adding product column
df['product'] = 'butter'
df['country'] = 'US'
df['state_name'] = 'US TOTAL'
df['measure'] = 'Wholesale Price'
df['source'] = 'clal'

In [11]:
df

,year,Month,Product_desc,Unit,Wholesale Price,month_no,product,country,state_name,measure,source
0,2020,January,Butter Grade AA US Chicago,USD/tonne,"4,193",1,butter,US,US TOTAL,Wholesale Price,clal
1,2020,February,Butter Grade AA US Chicago,USD/tonne,3920,2,butter,US,US TOTAL,Wholesale Price,clal
2,2020,March,Butter Grade AA US Chicago,USD/tonne,"3,809",3,butter,US,US TOTAL,Wholesale Price,clal
3,2020,April,Butter Grade AA US Chicago,USD/tonne,"2,679",4,butter,US,US TOTAL,Wholesale Price,clal
4,2020,May,Butter Grade AA US Chicago,USD/tonne,"3,252",5,butter,US,US TOTAL,Wholesale Price,clal
...,...,...,...,...,...,...,...,...,...,...,...
66,2025,July,Butter Grade AA US Chicago,USD/tonne,"5,607",7,butter,US,US TOTAL,Wholesale Price,clal
67,2025,August,Butter Grade AA US Chicago,USD/tonne,"5,018",8,butter,US,US TOTAL,Wholesale Price,clal
68,2025,September,Butter Grade AA US Chicago,USD/tonne,"4,052",9,butter,US,US TOTAL,Wholesale Price,clal
69,2025,October,Butter Grade AA US Chicago,USD/tonne,"3,599",10,butter,US,US TOTAL,Wholesale Price,clal
70,2025,November,Butter Grade AA US Chicago,USD/tonne,"3,362",11,butter,US,US TOTAL,Wholesale Price,clal

In [12]:
# Adding the date column
df['date'] = pd.to_datetime(df['year'].astype(str)+"-"+df['month_no'].astype(str)+"-"+"01")
df['value'] = df['Wholesale Price']
df = df.drop(columns=['Wholesale Price'], axis = 1)
df

,year,Month,Product_desc,Unit,month_no,product,country,state_name,measure,source,date,value
0,2020,January,Butter Grade AA US Chicago,USD/tonne,1,butter,US,US TOTAL,Wholesale Price,clal,2020-01-01,"4,193"
1,2020,February,Butter Grade AA US Chicago,USD/tonne,2,butter,US,US TOTAL,Wholesale Price,clal,2020-02-01,3920
2,2020,March,Butter Grade AA US Chicago,USD/tonne,3,butter,US,US TOTAL,Wholesale Price,clal,2020-03-01,"3,809"
3,2020,April,Butter Grade AA US Chicago,USD/tonne,4,butter,US,US TOTAL,Wholesale Price,clal,2020-04-01,"2,679"
4,2020,May,Butter Grade AA US Chicago,USD/tonne,5,butter,US,US TOTAL,Wholesale Price,clal,2020-05-01,"3,252"
...,...,...,...,...,...,...,...,...,...,...,...,...
66,2025,July,Butter Grade AA US Chicago,USD/tonne,7,butter,US,US TOTAL,Wholesale Price,clal,2025-07-01,"5,607"
67,2025,August,Butter Grade AA US Chicago,USD/tonne,8,butter,US,US TOTAL,Wholesale Price,clal,2025-08-01,"5,018"
68,2025,September,Butter Grade AA US Chicago,USD/tonne,9,butter,US,US TOTAL,Wholesale Price,clal,2025-09-01,"4,052"
69,2025,October,Butter Grade AA US Chicago,USD/tonne,10,butter,US,US TOTAL,Wholesale Price,clal,2025-10-01,"3,599"
70,2025,November,Butter Grade AA US Chicago,USD/tonne,11,butter,US,US TOTAL,Wholesale Price,clal,2025-11-01,"3,362"

In [13]:
df.dtypes

year                     int64
Month                   object
Product_desc            object
Unit                    object
month_no                 int64
product                 object
country                 object
state_name              object
measure                 object
source                  object
date            datetime64[ns]
value                   object
dtype: object

In [14]:
df['value'] = pd.to_numeric(df['value'].astype(str).str.replace(",", "", regex=False))
df

,year,Month,Product_desc,Unit,month_no,product,country,state_name,measure,source,date,value
0,2020,January,Butter Grade AA US Chicago,USD/tonne,1,butter,US,US TOTAL,Wholesale Price,clal,2020-01-01,4193
1,2020,February,Butter Grade AA US Chicago,USD/tonne,2,butter,US,US TOTAL,Wholesale Price,clal,2020-02-01,3920
2,2020,March,Butter Grade AA US Chicago,USD/tonne,3,butter,US,US TOTAL,Wholesale Price,clal,2020-03-01,3809
3,2020,April,Butter Grade AA US Chicago,USD/tonne,4,butter,US,US TOTAL,Wholesale Price,clal,2020-04-01,2679
4,2020,May,Butter Grade AA US Chicago,USD/tonne,5,butter,US,US TOTAL,Wholesale Price,clal,2020-05-01,3252
...,...,...,...,...,...,...,...,...,...,...,...,...
66,2025,July,Butter Grade AA US Chicago,USD/tonne,7,butter,US,US TOTAL,Wholesale Price,clal,2025-07-01,5607
67,2025,August,Butter Grade AA US Chicago,USD/tonne,8,butter,US,US TOTAL,Wholesale Price,clal,2025-08-01,5018
68,2025,September,Butter Grade AA US Chicago,USD/tonne,9,butter,US,US TOTAL,Wholesale Price,clal,2025-09-01,4052
69,2025,October,Butter Grade AA US Chicago,USD/tonne,10,butter,US,US TOTAL,Wholesale Price,clal,2025-10-01,3599
70,2025,November,Butter Grade AA US Chicago,USD/tonne,11,butter,US,US TOTAL,Wholesale Price,clal,2025-11-01,3362

In [15]:
df.dtypes

year                     int64
Month                   object
Product_desc            object
Unit                    object
month_no                 int64
product                 object
country                 object
state_name              object
measure                 object
source                  object
date            datetime64[ns]
value                    int64
dtype: object

In [24]:
df.columns.to_list()

['year',
 'Month',
 'Product_desc',
 'Unit ',
 'month_no',
 'product',
 'country',
 'state_name',
 'measure',
 'source',
 'date',
 'value']

The unit column has extra space which is not wanted..SO will strip off if any spaces exist in the column header

In [32]:
df.columns= df.columns.str.strip()

In [33]:
# Currently the set of values has unit USD/tonne
# Also need USD/kg
df_kg = df.copy()
df_kg['value'] = df_kg['value']/1000
df_kg['Unit'] = 'USD/kg'

In [35]:
df_kg

,year,Month,Product_desc,Unit,month_no,product,country,state_name,measure,source,date,value
0,2020,January,Butter Grade AA US Chicago,USD/kg,1,butter,US,US TOTAL,Wholesale Price,clal,2020-01-01,4.193
1,2020,February,Butter Grade AA US Chicago,USD/kg,2,butter,US,US TOTAL,Wholesale Price,clal,2020-02-01,3.920
2,2020,March,Butter Grade AA US Chicago,USD/kg,3,butter,US,US TOTAL,Wholesale Price,clal,2020-03-01,3.809
3,2020,April,Butter Grade AA US Chicago,USD/kg,4,butter,US,US TOTAL,Wholesale Price,clal,2020-04-01,2.679
4,2020,May,Butter Grade AA US Chicago,USD/kg,5,butter,US,US TOTAL,Wholesale Price,clal,2020-05-01,3.252
...,...,...,...,...,...,...,...,...,...,...,...,...
66,2025,July,Butter Grade AA US Chicago,USD/kg,7,butter,US,US TOTAL,Wholesale Price,clal,2025-07-01,5.607
67,2025,August,Butter Grade AA US Chicago,USD/kg,8,butter,US,US TOTAL,Wholesale Price,clal,2025-08-01,5.018
68,2025,September,Butter Grade AA US Chicago,USD/kg,9,butter,US,US TOTAL,Wholesale Price,clal,2025-09-01,4.052
69,2025,October,Butter Grade AA US Chicago,USD/kg,10,butter,US,US TOTAL,Wholesale Price,clal,2025-10-01,3.599
70,2025,November,Butter Grade AA US Chicago,USD/kg,11,butter,US,US TOTAL,Wholesale Price,clal,2025-11-01,3.362

In [37]:
# Concating both the dfs
# Number of rows 71*2= 142
butter_price = pd.concat([df,df_kg], ignore_index = True)
butter_price.rename(columns = {'Month':'month',
                    'Product_desc':'product_desc',
                    'Unit':'unit'}, inplace= True)

In [38]:
butter_price

,year,month,product_desc,unit,month_no,product,country,state_name,measure,source,date,value
0,2020,January,Butter Grade AA US Chicago,USD/tonne,1,butter,US,US TOTAL,Wholesale Price,clal,2020-01-01,4193.000
1,2020,February,Butter Grade AA US Chicago,USD/tonne,2,butter,US,US TOTAL,Wholesale Price,clal,2020-02-01,3920.000
2,2020,March,Butter Grade AA US Chicago,USD/tonne,3,butter,US,US TOTAL,Wholesale Price,clal,2020-03-01,3809.000
3,2020,April,Butter Grade AA US Chicago,USD/tonne,4,butter,US,US TOTAL,Wholesale Price,clal,2020-04-01,2679.000
4,2020,May,Butter Grade AA US Chicago,USD/tonne,5,butter,US,US TOTAL,Wholesale Price,clal,2020-05-01,3252.000
...,...,...,...,...,...,...,...,...,...,...,...,...
137,2025,July,Butter Grade AA US Chicago,USD/kg,7,butter,US,US TOTAL,Wholesale Price,clal,2025-07-01,5.607
138,2025,August,Butter Grade AA US Chicago,USD/kg,8,butter,US,US TOTAL,Wholesale Price,clal,2025-08-01,5.018
139,2025,September,Butter Grade AA US Chicago,USD/kg,9,butter,US,US TOTAL,Wholesale Price,clal,2025-09-01,4.052
140,2025,October,Butter Grade AA US Chicago,USD/kg,10,butter,US,US TOTAL,Wholesale Price,clal,2025-10-01,3.599
141,2025,November,Butter Grade AA US Chicago,USD/kg,11,butter,US,US TOTAL,Wholesale Price,clal,2025-11-01,3.362

In [46]:
butter_price.isna().sum()

year            0
month           0
product_desc    0
unit            0
month_no        0
product         0
country         0
state_name      0
measure         0
source          0
date            0
value           0
dtype: int64

In [43]:
butter_price.columns.to_list()

['year',
 'month',
 'product_desc',
 'unit',
 'month_no',
 'product',
 'country',
 'state_name',
 'measure',
 'source',
 'date',
 'value']

In [52]:
# store data in the database
import pymysql
connection = pymysql.connect(host = 'localhost',
                            user = 'root',
                            password = 'root',
                            database = 'nass',
                            port = 3306,
                            autocommit = True)

In [53]:
cursor = connection.cursor()

In [54]:
insert_sql_command = '''
    INSERT INTO `clal`.`wholesale_price`
    (`year`, `month`, `product_desc`,`unit`,`month_no`,`product`,`country`, `state_name`,`measure`,`source`,`date`,`value`)
    VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
        `updated_at` = IF(value <> VALUES(value), NOW(), updated_at),
        value = VALUES(value)
'''

In [55]:
for _, row in butter_price.iterrows():
    cursor.execute(insert_sql_command,
                   (
                        row['year'],
                        row['month'],
                        row['product_desc'],
                        row['unit'],
                        row['month_no'],
                        row['product'],
                        row['country'],
                        row['state_name'],
                        row['measure'],
                        row['source'],
                        row['date'],
                        float(row['value'])
                   )
                  )
connection.commit()
connection.close()

In [56]:
if connection.close:
    print("Database connection is closed")
elif connection.open:
    print("Database connection is open")

Database connection is closed