In [50]:
import pandas as pd
import pymysql
from pathlib import Path

In [51]:
BASE_PATH = Path.cwd().parent
BASE_PATH

WindowsPath('C:/Users/deepa/OneDrive - DSTI School of Engineering/Desktop/UDEMY_Projects/Butter-Price-Analysis-in-US')

In [52]:
# Load csv file
df = pd.read_csv(BASE_PATH/"data/MilkFat.csv")
df.drop(columns = ['Program', 'Geo Level', 'Domain', 'Domain Category'], inplace = True)
df

,Year,Period,State,Commodity,Data Item,unit,Value
0,2025,APR,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.32
1,2025,AUG,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.16
2,2025,FEB,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.43
3,2025,JAN,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.46
4,2025,JUL,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.13
...,...,...,...,...,...,...,...
68,2020,MAY,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,3.87
69,2020,NOV,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.10
70,2020,OCT,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.02
71,2020,SEP,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,3.90
72,2020,YEAR,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,3.95

In [53]:
df.columns = df.columns.str.lower()

In [54]:
df_monthly = df[df['period']!='YEAR']
df_monthly

,year,period,state,commodity,data item,unit,value
0,2025,APR,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.32
1,2025,AUG,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.16
2,2025,FEB,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.43
3,2025,JAN,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.46
4,2025,JUL,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.13
...,...,...,...,...,...,...,...
67,2020,MAR,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,3.97
68,2020,MAY,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,3.87
69,2020,NOV,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.10
70,2020,OCT,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,4.02
71,2020,SEP,US TOTAL,MILK,"MILK - FAT TEST, MEASURED IN PCT",%,3.90

In [55]:
month_mapping = {
    'JAN':1,
    'FEB':2,
    'MAR':3,
    'APR':4,
    'MAY':5,
    'JUN':6,
    'JUL':7,
    'AUG':8,
    'SEP':9,
    'OCT':10,
    'NOV':11,
    'DEC':12,
    }

In [56]:
df_monthly['month_no'] = df_monthly['period'].map(month_mapping)
df_monthly['month_name'] = df_monthly['period'].str.lower()

C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\3803934642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['month_no'] = df_monthly['period'].map(month_mapping)
C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\3803934642.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['month_name'] = df_monthly['period'].str.lower()

In [57]:
df_monthly.drop(['period', 'commodity'], axis = 1, inplace = True)

C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\1467235066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly.drop(['period', 'commodity'], axis = 1, inplace = True)

In [71]:
df_monthly['country'] = 'US'
df_monthly['product'] = 'Milk'
df_monthly.rename(columns = {'data item': 'product_desc', 'state': 'state_name'}, inplace = True)
df_monthly['measure'] = 'Fat Content'
df_monthly['source'] = 'Nass'
df_monthly['sector'] = 'ANIMALS & PRODUCTS'

C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\157422370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['country'] = 'US'
C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\157422370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['product'] = 'Milk'
C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\157422370.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly.rename(columns = {'data item': 'product_desc', 'state': 'state_name'}, inplace = True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\157422370.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['measure'] = 'Fat Content'
C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\157422370.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['source'] = 'Nass'
C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\157422370.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['sector'] = 'ANIMALS & PRODUCTS'

In [72]:
df_monthly

,year,state_name,product_desc,unit,value,month_no,month_name,country,product,measure,source,sector,date
0,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.32,4,apr,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-04-01
1,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.16,8,aug,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-08-01
2,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.43,2,feb,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-02-01
3,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.46,1,jan,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-01-01
4,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.13,7,jul,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,3.97,3,mar,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-03-01
68,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,3.87,5,may,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-05-01
69,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.10,11,nov,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-11-01
70,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.02,10,oct,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-10-01
71,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,3.90,9,sep,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-09-01

In [73]:
df_monthly['date'] = pd.to_datetime(df_monthly['year'].astype(str)+'-'+ df_monthly['month_name'], format = "%Y-%b")
df_monthly

C:\Users\deepa\AppData\Local\Temp\ipykernel_23064\1005877387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_monthly['date'] = pd.to_datetime(df_monthly['year'].astype(str)+'-'+ df_monthly['month_name'], format = "%Y-%b")

,year,state_name,product_desc,unit,value,month_no,month_name,country,product,measure,source,sector,date
0,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.32,4,apr,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-04-01
1,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.16,8,aug,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-08-01
2,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.43,2,feb,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-02-01
3,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.46,1,jan,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-01-01
4,2025,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.13,7,jul,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2025-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,3.97,3,mar,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-03-01
68,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,3.87,5,may,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-05-01
69,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.10,11,nov,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-11-01
70,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,4.02,10,oct,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-10-01
71,2020,US TOTAL,"MILK - FAT TEST, MEASURED IN PCT",%,3.90,9,sep,US,Milk,Fat Content,Nass,ANIMALS & PRODUCTS,2020-09-01

In [74]:
df_monthly.columns.to_list()

['year',
 'state_name',
 'product_desc',
 'unit',
 'value',
 'month_no',
 'month_name',
 'country',
 'product',
 'measure',
 'source',
 'sector',
 'date']

In [76]:
df_monthly = df_monthly[['date', 'month_name', 'month_no', 'year', 
            'product', 'product_desc', 'country', 'state_name', 
            'measure', 'unit', 'value', 'sector', 'source']]

In [79]:
df_monthly.isna().sum()

date            0
month_name      0
month_no        0
year            0
product         0
product_desc    0
country         0
state_name      0
measure         0
unit            0
value           0
sector          0
source          0
dtype: int64

In [80]:
df_monthly.dtypes

date            datetime64[ns]
month_name              object
month_no                 int64
year                     int64
product                 object
product_desc            object
country                 object
state_name              object
measure                 object
unit                    object
value                  float64
sector                  object
source                  object
dtype: object

In [81]:
# upload data to nass.butter table in the database
connection = pymysql.connect(host = 'localhost',
                            user = 'root',
                            password = 'root',
                            database = 'nass',
                            port = 3306)

In [82]:
cursor = connection.cursor()

In [83]:
insert_sql_command = '''
    INSERT INTO `nass`.`butter`
    (`date`, `month_name`, `month_no`, `year`, 
            `product`, `product_desc`, `country`, `state_name`, 
            `measure`, `unit`, `value`, `sector`, `source`)
    VALUES(%s, %s, %s, %s, %s,
            %s, %s, %s, %s,
            %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE
        updated_at = IF(value <> VALUES(value), NOW(), updated_at),
        value = VALUES(value)
'''

In [85]:
for _ , row in df_monthly.iterrows():
    cursor.execute(insert_sql_command, (
    row['date'],
    row['month_name'],
    row['month_no'],
    row['year'],
    row['product'],
    row['product_desc'],
    row['country'],
    row['state_name'],
    row['measure'],
    row['unit'],
    row['value'],
    row['sector'],
    row['source']))

connection.commit()
connection.close()

In [86]:
if connection.close:
    print("Database connection is closed")
elif connection.open:
    print("Database connection is still open")

Database connection is closed

This  is the end of the code for collection Milk Fat %